@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#main {
  background-color: blue;
}

#title {
  color:#ffffff;
  text-align:center;
}

#sub-title{
  color:#00FFFF;
  text-align:center;
}
